/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Container central */
.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

/* Cabeçalho */
header {
    background-color: #2e7d32;
    color: white;
    text-align: center;
    padding: 30px 10px;
}

/* Hero (introdução) */
.hero {
    padding: 40px 0;
    text-align: center;
}

/* Seção de conteúdo */
.conteudo {
    padding: 20px 0;
}

/* Cards */
.card {
    background: white;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* Títulos */
h1 {
    font-size: 32px;
}

h2 {
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 5px;
}

/* Texto */
p {
    line-height: 1.6;
}

/* Rodapé */
footer {
    background-color: #1b5e20;
    color: white;
    text-align: center;
    padding: 15px;

    position: fixed;
    bottom: 0;
    width: 100%;
}

/* RESPONSIVO */
@media (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    .card {
        padding: 15px;
    }

    footer {
        font-size: 12px;
    }
    /* MODO ESCURO */
.escuro {
    background-color: #121212;
    color: white;
}

.escuro .card {
    background-color: #1e1e1e;
    color: white;
}
